---
title: 'Music'
description: 'Lorem ipsum dolor sit amet'
pubDate: 'Jul 04 2022'
heroImage: '/portfolio/music/covering.png'
---
# this is a work in progress!!
you can find me on soundcloud with https://soundcloud.com/zurrabunny<br>
you dont know how hard it is making a custom music player...<br>
while waiting, you can listen to these tracks i made!

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Player Example</title>
  <link rel="stylesheet" href="/src/components/MusicPlayer.css">
</head>
<body>

  <!-- Music Player Instances -->
  <div id="music-player-1"></div><br>
  <div id="music-player-2"></div><br>
  <div id="music-player-3"></div><br>
  <div id="music-player-4"></div><br>
  <div id="music-player-5"></div><br>
  <div id="music-player-6"></div><br>
  <div id="music-player-7"></div><br>
  

  <script src="/components/MusicPlayer.jsx" defer></script>

  <script type="module">
    import { MusicPlayer } from '/src/components/MusicPlayer.jsx';

    // Initialize multiple instances of the MusicPlayer
    document.addEventListener('DOMContentLoaded', () => {
      new MusicPlayer('music-player-1', {
        audioSrc: '../portfolio/music/starstruck.mp3',
        discSrc: '../portfolio/music/disc.png',
        title: 'Starstruck',
      });

      new MusicPlayer('music-player-2', {
        audioSrc: '../portfolio/music/Halcyon.ogg',
        discSrc: '../portfolio/music/disc.png',
        title: 'Halcyon',
      });

      new MusicPlayer('music-player-3', {
        audioSrc: '../portfolio/music/Scav.ogg',
        discSrc: '../portfolio/music/disc.png',
        title: 'Scav',
      });
	  
	  new MusicPlayer('music-player-4', {
        audioSrc: '../portfolio/music/wukong.mp3',
        discSrc: '../portfolio/music/disc.png',
        title: 'Journey to the West',
      });
	  
	  new MusicPlayer('music-player-5', {
        audioSrc: '../portfolio/music/chipdate.mp3',
        discSrc: '../portfolio/music/disc.png',
        title: 'Silly Date',
      });
	  
	  new MusicPlayer('music-player-6', {
        audioSrc: '../portfolio/music/shortsandshores.mp3',
        discSrc: '../portfolio/music/disc.png',
        title: 'Shorts and Shores',
      });
	  
	  new MusicPlayer('music-player-7', {
        audioSrc: '../portfolio/music/unholyseranata.ogg',
        discSrc: '../portfolio/music/disc.png',
        title: 'Unholy Serenata',
      });
    });
  </script>
</body>
</html>

<style>
    /* Center the music players horizontally */
    .player-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centers horizontally */
      gap: 20px; /* Adds space between players */
      margin-top: 50px; /* Add top margin to center vertically */
    }
  </style>