---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title = "Azzurra's Portfolio!", description = "This took me a week to set up, guys. Please check it out!", image = '/blog-placeholder-1.jpg' } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL.href} />

<title>Azzurra's Portfolio!</title>
<meta name="title" content="Azzurra's Portfolio!" />
<meta name="description" content="This took me a week to set up, guys. Please check it out!" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://azzurraseabunny.github.io" />
<meta property="og:title" content="Azzurra's Portfolio!" />
<meta property="og:description" content="This took me a week to set up, guys. Please check it out!" />
<meta property="og:image" content="https://azzurraseabunny.github.io/blog-placeholder-1.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://azzurraseabunny.github.io" />
<meta property="twitter:title" content="Azzurra's Portfolio!" />
<meta property="twitter:description" content="This took me a week to set up, guys. Please check it out!" />
<meta property="twitter:image" content="https://azzurraseabunny.github.io/blog-placeholder-1.jpg" />

